.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.candidates-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-bottom: 30px;
}

.candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidate-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.candidate-votes {
  font-size: 24px;
  color: #888;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

.results {
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.finish-button {
  margin-top: 30px;
}

.result-text {
  margin-bottom: 20px;
}
